body { background: #185ecc; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 46px; display: flex; }
.block-config-0 { color: #b592d4; font-size: 16px; margin-bottom: 5px; }
.block-database-1 { color: #57d7be; font-size: 18px; margin-bottom: 5px; }
.block-uploader-2 { color: #fbf2dc; font-size: 15px; margin-bottom: 5px; }
.block-filter-3 { color: #873add; font-size: 19px; margin-bottom: 5px; }
.block-cart-4 { color: #4b0843; font-size: 14px; margin-bottom: 5px; }
.block-cluster-5 { color: #e0e545; font-size: 17px; margin-bottom: 5px; }
.block-cluster-6 { color: #642d32; font-size: 13px; margin-bottom: 5px; }
.block-helper-7 { color: #aa0dd; font-size: 14px; margin-bottom: 5px; }
.block-helper-8 { color: #a33fc9; font-size: 19px; margin-bottom: 5px; }
.block-sms-9 { color: #30fb7c; font-size: 19px; margin-bottom: 5px; }
.block-uploader-10 { color: #8cc1c0; font-size: 15px; margin-bottom: 5px; }